#mainContent {
    padding-left: 200px;
    padding-right: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#leftContent {
    grid-column: 1;
    justify-self: right;
    text-align: center;
    margin: 75px;
}
#profileImage {
    height: 300px;
    width: 300px;
    background-image: url("./Images/Viq2wp.png");
    background-size: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
}
#profileText {
    font-weight: 600;
    font-size: 40px;
}

#rightContent {
    grid-column: 2 / 4;
    margin: 75px;
}
#descriptionSubtitle {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
}
#descriptionText{
    font-size: 16px;
    line-height: 35px;
}

#bottomContent {
    grid-column: 1 / 4;
    margin-bottom: 100px;
}