#mainContent {
    display: flex;
    justify-content: center;
    align-items:baseline;
}

#inputContainer {
    background: #00000011;
    border-radius: 20px;
    padding: 25px;
    margin-top: 50px;
}

.input_fields {
    margin-top: 30px;
    margin-bottom: 30px;
}
.input_subtitle {
    font-size: 22px;
    margin-bottom: 5px;
}
.text_input {
    width: 250px;
    height: 30px;
    background: #f8f8f8;
    border-radius: 10px;
    border-color: #555;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
}

#submitContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}
#submitButton {
    width: 100px;
    height: 40px;
    background: #555;
    color: #eee;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 100ms;
}
#submitButton:hover {
    background: #5f5f5f;
}
#submitButton:active {
    background: #444;
}